
<div class="container">
    <h4>Editing Wiki</h4>

    <%= render partial: 'form'%>

    <% if (current_user.premium? || current_user.admin?) && !@wiki.users.include?(current_user) %>
        <%= link_to "Manage Collaborators", wiki_collaborators_path(@wiki), class: "btn btn-success" %>
    <% end %>
    
</div>
