<div class="container">
  <%=link_to 'New Wiki', new_wiki_path, class: "btn btn-default" %>

  <div class="list-group">
    <% @wikis.each do |wiki| %>
        <li class="list-group-item"><%=wiki.title%>
        <%= link_to 'Show', wiki, class: "btn btn-link"%></li>
    <% end %>
  </div>
</div>
