<h1>New Wiki</h1>

<div class="row">


     <div class="col-md-4">
       <p>Please resepct the rules while creating the new Wiki</p>
     </div>

      <%= render partial: 'form'%>

      <%= link_to 'Back', wikis_path %>

</div>
